[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/ramajoballester/mmdetection3d.git
[submodule "sensus/tools/dataset_converter/DAIR-V2X"]
	path = sensus/tools/dataset_converter/DAIR-V2X
	url = https://github.com/AIR-THU/DAIR-V2X.git
[submodule "pypcd"]
	path = pypcd
	url = https://github.com/klintan/pypcd.git
[submodule "sensus/tools/dataset_converter/tum-traffic-dataset-dev-kit"]
	path = sensus/tools/dataset_converter/tum-traffic-dataset-dev-kit
	url = https://github.com/tum-traffic-dataset/tum-traffic-dataset-dev-kit.git
